.updatestatus_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.updatestatus_header__title {
  margin-right: 1rem;
  color: #333;
  font-size: 1rem;
}

.updatestatus_sliderwrapper {
  padding: 2rem;
  margin-top: 3rem;
}

.status_image {
  width: 100%;
  margin: auto;
  display: block;
}
