.navbar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4.5rem;
  background-color: white;
}

.navbar__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 1rem;
  list-style-type: none;
  height: 100%;
}

.navbar__listitem {
  flex-grow: 0;
  display: inline-block;
  height: 100%;
  position: relative;
}

.navbar__button {
  display: inline-block;
  min-width: 5rem;
  height: 2.5rem;
  padding: 0.5rem;
  background: transparent;
  border-radius: 1.25rem;
  color: rgba(97, 196, 250, 0.6);
  text-align: center;
}

.navbar__listitem.active .navbar__button {
  background: #61c4fa;
  color: white;
}
