.statusslider {
  outline: 0;
  border: 0;
  border-radius: 500px;
  width: 400px;
  max-width: 100%;
  margin: 24px 0 16px;
  transition: box-shadow 0.2s ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .statusslider {
    overflow: hidden;
    height: 40px;
    -webkit-appearance: none;
    background-color: #ddd;
  }
  .statusslider::-webkit-slider-runnable-track {
    height: 40px;
    -webkit-appearance: none;
    color: #444;
    transition: box-shadow 0.2s ease-in-out;
  }
  .statusslider::-webkit-slider-thumb {
    width: 40px;
    -webkit-appearance: none;
    height: 40px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -340px 0 0 320px #087917, inset 0 0 0 40px #087917;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
  }
  .statusslider:active::-webkit-slider-thumb {
    background: #fff;
    box-shadow: -340px 0 0 320px #087917, inset 0 0 0 3px #087917;
  }
}
.statusslider::-moz-range-progress {
  background-color: #43e5f7;
}
.statusslider::-moz-range-track {
  background-color: #9a905d;
}
.statusslider::-ms-fill-lower {
  background-color: #43e5f7;
}
.statusslider::-ms-fill-upper {
  background-color: #9a905d;
}

.statusslider.statusslider--green::-webkit-slider-thumb {
  box-shadow: -340px 0 0 320px #087917, inset 0 0 0 40px #087917;
}
.statusslider.statusslider--green:active::-webkit-slider-thumb {
  box-shadow: -340px 0 0 320px #087917, inset 0 0 0 3px #087917;
}
.statusslider.statusslider--yellow::-webkit-slider-thumb {
  box-shadow: -340px 0 0 320px #ead730, inset 0 0 0 40px #ead730;
}
.statusslider.statusslider--yellow:active::-webkit-slider-thumb {
  box-shadow: -340px 0 0 320px #ead730, inset 0 0 0 3px #ead730;
}
.statusslider.statusslider--red::-webkit-slider-thumb {
  box-shadow: -340px 0 0 320px #ca4141, inset 0 0 0 40px #ca4141;
}
.statusslider.statusslider--red:active::-webkit-slider-thumb {
  box-shadow: -340px 0 0 320px #ca4141, inset 0 0 0 3px #ca4141;
}
